<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
    <style>
        *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif;
}
        body {
			font-family: 'Times New Roman', Times, serif;
			background-color:rgb(183, 148, 183);
		}
        button{
            background-color: white;
            size: 10px;
        }
    </style>
</head>
<body>
    <div class="exist">
    <h1>Admin already exists:Only One admin allowed to operate this application</h1><button><a href="{{url_for('home')}}">back</a></button>
</div>
        

</body>
</html>