<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RENT STATUS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"/>
   <style>
    body {
			font-family: 'Times New Roman', Times, serif;
		}
        
   </style>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline" method="POST" action="{{url_for('search_rentbar')}}">
      <input class="form-control mr-sm-2" type="search" placeholder="Enter rent Id" name="ids" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
      <a href="{{url_for('status_rent')}}"><button class="btn btn-outline-success my-2 my-sm-0">clear</button></a>

    <a href="{{url_for('adminlogin')}}"><button class="btn btn-outline-success my-2 my-sm-0">Back</button></a>
  </nav>
  {% block content %}
    <div class="table text-center mt-4 ml-4">
    <table border="1px" cellpadding="20px" cellspacing="0px">
        <tr>
                 <th>Rent Id</th>
                 <th>Student Id</th>
                 <th>Section</th>
                 <th>Book Id</th>
                 <th>Title</th>
                 <th>Date taken</th>
                 <th>Due Date</th>
                 <th>Fine</th>
            
        </tr>
        {% for i in rids %}
        <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
                <td>{{i[5]}}</td>
                <td>{{i[6]}}</td>
                <td>{{i[7]}}</td>
               
        </tr>
        {% endfor %}
    </table>
</div>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
  {% endblock %}
</body>
</html>